{# patient_table.html #}
{% comment %}
    template parameters:
        patient_lookup (object)
        consent_mode (object)
{% endcomment %}

<table class="patient">
    <tr><td>Name</td><td><b>{{ patient_lookup.pt_title_forename_surname_str }}</b></td></tr>
    <tr><td>DOB</td><td><b>{{ patient_lookup.pt_dob }}</b></td></tr>
    <tr>
        <td>Identifiers</td>
        <td>
            NHS number: <b>{{ patient_lookup.nhs_number }}</b>.
            {% if patient_lookup.pt_local_id_description %}
                {{ patient_lookup.pt_local_id_description}}:
                <b>{{ patient_lookup.pt_local_id_number }}</b>.
            {% endif %}
        </td>
    </tr>
    <tr><td>Address</td><td><b>{{ patient_lookup.pt_address_components_str }}</b></td></tr>
    <tr><td>GP</td><td><b>{{ patient_lookup.gp_name_address_str }}</b></td></tr>
    <tr>
        <td>CPFT clinician</td>
        <td>
            <b>{{ patient_lookup.clinician_name_address_str }}</b>
            <i>({{ patient_lookup.clinician_signatory_title }})</i>
        </td>
    </tr>
    <tr><td>Patient under 16?</td><td><b>{{ patient_lookup.is_under_16|yesno }}</b></td></tr>
    <tr>
        <td>Patient discharged?</td>
        <td><b>
            {{ patient_lookup.pt_discharged|yesno:"yes,no,?" }}
            {% if patient_lookup.pt_discharged %}
                (and: patient has
                {% if not consent_mode.consent_after_discharge %}
                    not
                {% endif %}
                specifically consented to contact after discharge)
            {% endif %}
        </b></td>
    </tr>
</table>
