# =============================================================================
# Generic
# =============================================================================

# Working config/data dictionary files
*.ini
*.tsv

# Python residue
__pycache__/
*.py[cod]

# http://stackoverflow.com/questions/3719243/recommended-gitignore-file-for-python-projects

crate.egg-info/

# =============================================================================
# Specific
# =============================================================================
