/* crate_anon/docs/source/_static/css/crate_docs.css */*

/* WARNING: Sphinx may not notice changes to this file. You may need to force
   a rebuild by altering a .RST file. */

/* WARNING: an RST "role" will be mangled, e.g. "_" to "-", before becoming
   an HTML "class" reference. So don't use underscores etc. */

.menuselection {
    background-color: #eeeeee;
    font-style: normal;
}
cite {
    /* For inline single-backtick quotation. */
    background-color: #eeeeee;
    font-family: monospace, monospace;
    /* https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
    font-style: normal;
}

.nlprprequest,
        .nlprprequest .highlight,
        .nlprprequest .highlight pre {
    background-color: #c3e6fc;  /* https://www.color-hex.com/color/87cefa */
}
.nlprpresponse,
        .nlprpresponse .highlight,
        .nlprpresponse .highlight pre {
    background-color: #ffcfbc;  /* https://www.color-hex.com/color/ffa07a */
}

/*
    Fix table width in sphinx_rtd_theme:
    https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html
*/

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .compact-table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }
}
