{# about.html #}

{% extends "base.html" %}

{% block content %}

    <h1>About: Clinical Records Anonymisation and Text Extraction (CRATE)</h1>

    <h2>CRATE documentation</h2>
    <p>Documentation is at <a href="{{ CRATE_DOCS_URL }}">{{ CRATE_DOCS_URL }}</a>.</p>

    <h2>Software running on this server</h2>
    <p>The CRATE version is {{ VERSION }}, dated {{ VERSION_DATE }}.</p>

    <h2>Citing CRATE</h2>
    <p>Please cite as:</p>
    <p><b>Cardinal RN (2017). Clinical records anonymisation and text extraction
        (CRATE): an open-source software system. BMC Med Inform Decis Mak.
        17:50.</b></p>
    <p>(PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/28441940">28441940</a>;
        doi: <a href="http://dx.doi.org/10.1186/s12911-017-0437-1">10.1186/s12911-017-0437-1</a>.)</p>

    <h2>Sources</h2>
    <ul>
        <li>Source code: <a href="https://github.com/RudolfCardinal/crate">https://github.com/RudolfCardinal/crate</a></li>
        <li>Python package: <a href="https://pypi.python.org/pypi/crate-anon">https://pypi.python.org/pypi/crate-anon</a></li>
    </ul>

    <h2>Third-party licences</h2>

    <h3>ONS Postcode Database licensing</h3>
    <p>The UK Office of National Statistics (ONS) Postcode Database (ONSPD)
        is not part of CRATE, but codes from it may have been installed by
        your administrator. If so, the following apply:</p>
    <ul>
        <li>Contains OS data © Crown copyright and database right 2016</li>
        <li>Contains Royal Mail data © Royal Mail copyright and database right 2016</li>
        <li>Contains National Statistics data © Crown copyright and database right 2016</li>
    </ul>
    <p>See also</p>
    <ul>
        <li><a href="https://geoportal.statistics.gov.uk/geoportal/catalog/content/filelist.page">https://geoportal.statistics.gov.uk/geoportal/catalog/content/filelist.page</a></li>
        <li><a href="http://www.ons.gov.uk/methodology/geography/licences">http://www.ons.gov.uk/methodology/geography/licences</a></li>
    </ul>
{% endblock %}
