{# base.html #}

{% extends "base_root.html" %}
{% load staticfiles %}

{% block extra_css %}
    <style type="text/css">
        {% include "web.css" %}
    </style>
{% endblock %}

{% block extrahead %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script>
        {% include "collapse.js" %}
    </script>
{% endblock %}

{% block mainsiteheader %}
    <div>
        <i>CRATE: Clinical Records Anonymisation and Text Extraction</i>
    </div>
    <div>
        Database: <b>{{ RESEARCH_DB_TITLE }}</b>.

        {% block user_header %}
            User: <b>{{ user }}</b>.
            [
            {% if nav_on_main_menu %}
                Main menu
            {% else %}
                <a href="{% url 'home' %}">Main menu</a>
            {% endif %}
            | <a href="{% url 'logout' %}">Logout</a>
            ]
        {% endblock %}
    </div>
{% endblock %}
