{# crate_anon/crateweb/templates/nlp_classification/admin/home.html #}
{% extends "nlp_classification/base.html" %}

{% block nlp_classification_content %}
            <h2>Administration</h2>
            <h3>Quick setup</h3>
            <ul>
              <li><a href="{% url 'nlp_classification_admin_task_question_wizard' %}">Tasks and questions</a></li>
              <li><a href="{% url 'nlp_classification_admin_sample_data_wizard' %}">Sample data</a></li>
            </ul>
            <h3>Tables</h3>
            <ul>
              <li><a href="{% url 'nlp_classification_admin_task_list' %}">Tasks</a></li>
              <li><a href="{% url 'nlp_classification_admin_question_list' %}">Questions</a></li>
              <li><a href="{% url 'nlp_classification_admin_option_list' %}">Options</a></li>
              <li><a href="{% url 'nlp_classification_admin_sample_spec_list' %}">Sample specs</a></li>
              <li><a href="{% url 'nlp_classification_admin_table_definition_list' %}">Table definitions</a></li>
              <li><a href="{% url 'nlp_classification_admin_column_list' %}">Columns</a></li>
              <li><a href="{% url 'nlp_classification_admin_assignment_list' %}">Assignments</a></li>
            </ul>
{% endblock %}
