{# crate_anon/crateweb/templates/nlp_classification/admin/sample_data_progress.html #}
{% extends "nlp_classification/base.html" %}

{% block extrahead %}
{% include "include_jquery.html" %}
{% endblock %}

{% block nlp_classification_content %}
<div class="progress-bar-container">
    <div class="progress-wrapper">
        <label for="progress-bar" id="progress-bar-message"></label>
        <progress id="progress-bar" value="0" max="100"></progress>
	</div>
</div>
<a href="{% url 'nlp_classification_admin_home' %}">Administration</a>

{% block progress_bar_js %}
{% if task_id %}
<script type="text/javascript">
    function onProgress(progressBarElement, progressBarMessageElement, progress) {
        progressBarElement.max = progress.total;
        progressBarElement.value = progress.current;

        var description = "";
        if (progress.description) {
            description = progress.description + ": ";
        }
        if (progress.current == 0) {
            if (progress.pending === true) {
                progressBarMessageElement.textContent = "Waiting for background task to start...";
            } else {
                progressBarMessageElement.textContent = "Creating source records...";
            }
        } else {
            progressBarMessageElement.textContent = description + progress.current + " of " + progress.total + " processed.";
        }

    }

    function onSuccess(progressBarElement, progressBarMessageElement, result) {
        if (progressBarMessageElement) {
            progressBarMessageElement.textContent = result;
        }
    }

	$(function () {
		var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
		CeleryProgressBar.initProgressBar(progressUrl, {
            onProgress: onProgress,
            onSuccess: onSuccess,
        })
	});
</script>
{% endif %}
{% endblock progress_bar_js %}

{% endblock %}
