{# clinician_contact_request_submit.html #}
{% extends "base.html" %}

{% comment %}
    template parameters:
        form: Form
{% endcomment %}

{% block content %}

    <h1>Submit patient contact request</h1>

    <div>Using database: <b>{{ db_description }}</b></div>

    <p>You can request that one or more of your patients is included in a study.
       This will generate an automatic affirmative response from you.</p>

    <form action="{% url 'clinician_contact_request' %}" method="post">
        {% csrf_token %}
        <table class="formtable">
            {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
