{# crate_anon/crateweb/consent/templates/signature_box_patient.html #}

{% comment %}
    template parameters:
        patient_lookup: PatientLookup
        generic: bool; for any patient, not a specific patient?
{% endcomment %}

<table class="signature">
    <colgroup>
        <col style="width:18%">
        <col style="width:13%">
        <col style="width:22%">
        <col style="width:17%">
        <col style="width:13%">
        <col style="width:17%">
    </colgroup>
    <tbody>
        {% if generic %}
            <!-- Generic version, not for a specific patient. -->
            <tr>
                <td class="signature_label">Name:</td>
                <td class="signature_box" colspan="2"><br></td>
                <td class="signature_label">Date of birth:</td>
                <td class="signature_box" colspan="2"></td>
            </tr>
            <tr>
                <td class="signature_label">NHS number:</td>
                <td class="signature_label_left">(if known)</td>
                <td class="signature_box" colspan="4"><br></td>
            </tr>
            <tr>
                <td class="signature_label">Address:</td>
                <td class="signature_box" colspan="5"><br></td>
            </tr>
            <tr>
                <td class="signature_label">Signed:</td>
                <td class="signature_box" colspan="2"><br></td>
                <td class="signature_label">Date:</td>
                <td class="signature_box" colspan="2"></td>
            </tr>
        {% else %}
            <tr>
                <td class="signature_label">Signed:</td>
                <td class="signature_box" colspan="2"><br></td>
                <td class="signature_label">Date:</td>
                <td class="signature_box" colspan="2"></td>
            </tr>
            <tr>
                <td colspan=6></td>
            </tr>
            <tr>
                <td class="rjust">Name:</td>
                <td colspan="5"><b>{{ patient_lookup.pt_forename_surname }}</b></td>
            </tr>
            <tr>
                <td class="rjust">Date of birth:</td>
                <td colspan=5><b>{{ patient_lookup.pt_dob|date }}</b></td>
            </tr>
            <tr>
                <td class="rjust">Identifiers:</td>
                <td colspan=5>
                    NHS number: <b>{{ patient_lookup.nhs_number }}</b>.
                    {% if patient_lookup.pt_local_id_description %}
                        {{ patient_lookup.pt_local_id_description}}:
                        <b>{{ patient_lookup.pt_local_id_number }}</b>.
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
