{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CRATE Anonymisation API</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "main/css/base.css" %}?v=1" type="text/css">
        <link rel="icon" href="{% static "main/images/scrubber.ico" %}?v=1" type="image/x-icon">
    </head>
    <body>
      <main>
        <h1>CRATE Anonymisation API</h1>
        <nav>
          <ul>
            <li><a href="scrub/">Scrubbing API Test Area</a></li>
            <li><a href="schema/">Download the OpenAPI Schema (YAML format)</a></li>
            <li><a href="schema/doc/">API Documentation</a></li>
            <li><a href="admin/">Django Admin</a></li>
          </ul>
        </nav>
      </main>
    </body>
</html>
