{% extends "rest_framework/base.html" %}
{% load static %}
      {% block style %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static "jsoneditor/jsoneditor.css" %}"/>
      {% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static "jsoneditor/jsoneditor.js" %}"></script>
<script>

{% comment %}
  Slightly modified version of jsoneditor/static/django-jsoneditor/django-jsoneditor.js

  https://github.com/nnseva/django-jsoneditor/blob/master/LICENSE
{% endcomment %}

var jsonEditors = {};
var aceOptions = {};

$(document).ready(function() {
    if (typeof(jsoneditor) == "undefined")
        jsoneditor = {JSONEditor: JSONEditor};
    var fields = $(".for_jsoneditor");
    for (var i = 0; i < fields.length; i++) {
        var $f = $(fields[i]);
        var id = $f.attr("id") + "_jsoneditor";
        var name = $f.attr("name") + "_jsoneditor";
        var $nxt = $f.parent().find('#' + id);
        if ($nxt.attr("name") == name) {
            continue;
        }
        var value = $f[0].value;
        var disabled = $f.is(':disabled');
        var jsonschema = JSON.parse($f.attr("jsonschema"));

        $nxt.detach();
        $nxt = $('<div class="outer_jsoneditor" cols="40" rows="10" id="' + id + '" name="' + name + '"></div>');
        $f.parent().append($nxt);
        var fnc = function (f, nxt, value) {
            var initOptions = Object.assign({}, {
                mode: 'tree',
                //    modes: ['code', 'form', 'text', 'tree', 'view'], // all modes
                modes: ['code', 'tree'], // allowed modes
            });
            initOptions['schema'] = jsonschema;

            var editor = new jsoneditor.JSONEditor(nxt, Object.assign({
                onChange: function () {
                    f.value = editor.getText();
                },
                // If switching to code mode, properly initialize with ace options
                onModeChange: function(endMode, startMode) {
                    if (endMode == 'code') {
                        editor.aceEditor.setOptions(aceOptions);
                    }
                },
                onEditable: function() {
                    return !disabled;
                }
            }, initOptions));

            // Load the editor.
            try {
                editor.set(JSON.parse(value));
            } catch (e) {
                // Force editor mode to "code" if there are JSON parse errors.
                editor.setMode('code');

                // Initialise contents of form even on unparseable JSON on load
                editor.setText(value);
            }
            return editor;
        };
        jsonEditors[id] = fnc($f[0], $nxt[0], value);
    }
});

</script>

{% endblock %}
