{# query_nav.html #}

<div>
    [
    {% if nav_on_querybuilder %}
        <b>Query builder</b>
    {% else %}
        <a href="{% url 'build_query' %}">Query builder</a>
    {% endif %}
    |
    {% if nav_on_query %}
        <b>SQL</b>
    {% else %}
        <a href="{% url 'query' %}">SQL</a>
    {% endif %}
    |
    {% if nav_on_highlight %}
        <b>Highlighting</b>
    {% else %}
        <a href="{% url 'highlight' %}">Highlighting</a>
    {% endif %}
{% comment %}
    |
    {% if nav_on_count or not query_selected %}
        <b>preview count</b>
    {% else %}
        <a href="{% url 'count' current_query_id %}">preview count</a>
    {% endif %}
{% endcomment %}
    |
    {% if nav_on_results or not query_selected %}
        <b>Results table</b>
    {% else %}
        <a href="{% url 'results' current_query_id %}">Results table</a>
    {% endif %}
    |
    {% if nav_on_results_recordwise or not query_selected %}
        <b>Results recordwise</b>
    {% else %}
        <a href="{% url 'results_recordwise' current_query_id %}">Results recordwise</a>
    {% endif %}
{% comment %}
    |
    {% if not query_selected %}
        <b>TSV</b>
    {% else %}
        <a href="{% url 'tsv' current_query_id %}">TSV</a>
    {% endif %}
{% endcomment %}
    |
    {% if not query_selected %}
        <b>Excel</b>
    {% else %}
        <a href="{% url 'query_excel' current_query_id %}">Excel</a>
    {% endif %}
    ]
</div>

<div>
    [
    {% if nav_on_pe_build %}
        <b>Build Patient Explorer (PE)</b>
    {% else %}
        <a href="{% url 'pe_build' %}">Build Patient Explorer (PE)</a>
    {% endif %}
    |
    {% if nav_on_pe_choose %}
        <b>Choose PE</b>
    {% else %}
        <a href="{% url 'pe_choose' %}">Choose PE</a>
    {% endif %}
    |
    {% if nav_on_highlight %}
        <b>Highlighting</b>
    {% else %}
        <a href="{% url 'highlight' %}">Highlighting</a>
    {% endif %}
    |
    {% if nav_on_pe_results or not pe_selected %}
        <b>PE results</b>
    {% else %}
        <a href="{% url 'pe_results' current_pe_id %}">PE: view results</a>
    {% endif %}
{% comment %}
    |
    {% if not pe_selected %}
        <b>PE: TSV</b>
    {% else %}
        <a href="{% url 'pe_tsv_zip' current_pe_id %}">PE: TSV</a>
    {% endif %}
{% endcomment %}
    |
    {% if not pe_selected %}
        <b>PE: Excel</b>
    {% else %}
        <a href="{% url 'pe_excel' current_pe_id %}">PE: Excel</a>
    {% endif %}
    ]
</div>
