{# rid_lookup_form.html #}

{% extends "base.html" %}

{% block content %}

    <h1>Look up research ID (RID) from patient ID (PID)</h1>

    {% include "include_clinician_warning_yours_only.html" %}

    <div>Using database: <b>{{ db_description }}</b></div>

    <div>You can enter one value or multiple values in each or several boxes.</div>

    <form action="{% url 'ridlookup_with_db' db_name %}" method="post">
        {% csrf_token %}
        <table class="formtable">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Look up" />
    </form>

    {% include "pid_abbrev_explanation.html" %}

{% endblock %}
