{# show_sitewide_queries.html #}

{% extends "base.html" %}

{% block extrahead %}
    <style type="text/css">{{ sql_highlight_css }}</style>
{% endblock %}

{% block content %}

    <h1>Standard Queries</h1>

    {% if queries %}
        <div class="table">  <!-- table div -->
            <div>  <!-- row level, via CSS -->
                <div class="th">Description</div>  <!-- cell level, via CSS -->
                <div class="th">SQL</div>
                <div class="th">Add</div>
                <div class="th">Run</div>
            </div>

            {% for query in queries %}
                <form action="{% url 'process_standard_query' query.id %}" method="post">  <!-- row level, via CSS -->
                    {% csrf_token %}
                    <div>{{ query.description }}</div>  <!-- cell level, via CSS -->
                    <div>
                        {% for chunk in query.prettified_chunks %}
                            {% if forloop.counter|divisibleby:2 %}
                                <input type="text" name="chunk{{ forloop.counter }}"
                                       placeholder="{{ chunk }}">
                            {% else %}
                                {{ chunk|safe }}
                            {% endif %}
                        {% endfor %}
                     </div>
                    <div>
                        <input type="submit" name="submit_add" value="Add">
                    </div>
                    <div>
                        <input type="submit" name="submit_run" value="Run">
                    </div>
                </form>
            {% endfor %}

    {% endif %}

{% endblock %}

{% block helpurl %}{{ HelpUrl.sitewide_queries }}{% endblock %}
