/* crate_web.css */

body {
    font-size: small;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
}
div {
    margin: 0.5em;
}
pre {
    margin: 0px;
}
table {
    display: table-cell;
    border-collapse: collapse;
    vertical-align: top;
}
th {
    border-bottom: 1px solid #000;
}
.heading_left th {
    border-bottom: 1px solid #ccc;
}
tr {
    border-bottom: 1px solid #ccc;
}
th, td {
    vertical-align: top;
    padding: 0.1em 0.5em;
}

.expandcollapse {
}
.collapse_detail {
}
.collapse_summary {
    height: 4em;
    overflow: hidden;
}
.indent {
    margin-left: 50px;
}

.formtable th, .formtable tr {
    border-bottom: none;
}

/* yellow and red are typically used by browsers for all-instances and
   instance-at-the-cursor with Ctrl-F */
.highlight0 { background-color: #0F0; }
.highlight1 { background-color: #88F; }
.highlight2 { background-color: #F0F; }
/* If altering: change also N_CSS_HIGHLIGHT_CLASSES in the source */
