{# crate_anon/crateweb/templates/nlp_classification/user/useranswerupdate_form.html #}
{% extends "nlp_classification/base.html" %}
{% load highlight %}

{% block nlp_classification_content %}
<h2>{{ object.assignment.question }}</h2>

<p>
{{ count }}/{{ total_answers }}
</p>

<p class="source-text">
{{ object.source_record.source_text|highlight:object.source_record.match }}
</p>

{% if nlp_fields %}
<dl class="nlp-fields">
  {% for key, value in nlp_fields.items %}
  <dt>{{ key }}</dt>
  <dd>{{ value }}</dd>
  {% endfor %}
</dl>
{% else %}
<p class="no-nlp">
  There is no NLP record.
</p>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <input type="submit" value="Submit and next">
</form>
{% endblock %}
