{# crate_anon/crateweb/templates/nlp_classification/user/answerupdate_form.html #}
{% extends "nlp_classification/base.html" %}
{% load render_table from django_tables2 %}

{% block nlp_classification_content %}
<h2>{{ object.assignment.question }}</h2>

<p style="font-size: medium">
{{ object.source_record.before }}<span style="background-color: yellow;">{{ object.source_record.match }}</span>{{ object.source_record.after }}
</p>

{% if nlp_table %}
{% render_table nlp_table %}
{% else %}
<p class="no_nlp" style="font-size:medium">
  There is no NLP record.
</p>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_div }}
  <input type="submit" value="Submit and next">
</form>
{% endblock %}
