---
# yamllint disable rule:line-length
name: GATE build tests
# yamllint disable-line rule:truthy
on:
    push:
        paths:
          - .github/workflows/gate.yml
          - crate_anon/nlp_manager/build_gate_java_interface.py
          - crate_anon/nlp_manager/CrateGatePipeline.java
          - crate_anon/nlp_manager/write_gate_auto_install_xml.py
          - github_action_scripts/build_gate.sh
          - github_action_scripts/python_setup.sh
jobs:
    build-gate:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                gate_version: ["8.6.1", "9.0.1"]
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.10"
            - name: Build GATE
              run: |
                set -euxo pipefail
                ${GITHUB_WORKSPACE}/github_action_scripts/python_setup.sh
                ${GITHUB_WORKSPACE}/github_action_scripts/build_gate.sh ${{ matrix.gate_version }}
