---
# yamllint disable rule:line-length
name: Integration tests
# yamllint disable-line rule:truthy
on:
    push:
        paths:
            - '**.py'
            - 'crate_anon/integration_tests/**'
            - .github/workflows/integration-tests.yml
            - github_action_scripts/change_apt_mirror.sh
            - github_action_scripts/docker_db_setup.sh
            - github_action_scripts/install_wkhtmltopdf.sh
            - github_action_scripts/integration_tests.sh
            - github_action_scripts/python_setup.sh
jobs:
    run-integration-tests:
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                # add "postgres" when supported
                engine: ["mysql", "sqlserver"]
                include:
                  - engine: mysql
                  - engine: sqlserver
                  # - engine: postgres
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.10"
            - name: Change apt mirror
              run: |
                  set -euo pipefail
                  ${GITHUB_WORKSPACE}/github_action_scripts/change_apt_mirror.sh
            - name: Install wkhtmltopdf
              run: |
                set -euxo pipefail
                ${GITHUB_WORKSPACE}/github_action_scripts/install_wkhtmltopdf.sh
            - name: Run integration tests
              run: |
                set -euxo pipefail
                ${GITHUB_WORKSPACE}/github_action_scripts/python_setup.sh
                ${GITHUB_WORKSPACE}/github_action_scripts/docker_db_setup.sh ${{ matrix.engine }}
                ${GITHUB_WORKSPACE}/github_action_scripts/integration_tests.sh ${{ matrix.engine }}
