---
# yamllint disable rule:line-length
name: Python checks
# yamllint disable-line rule:truthy
on:
    push:
        paths:
            - '**.py'
            - .github/workflows/python-checks.yml
            - github_action_scripts/python_checks.sh
            - github_action_scripts/python_setup.sh
jobs:
    python-checks:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.10", "3.11", "3.12"]
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Python checks
              run: |
                set -euxo pipefail
                ${GITHUB_WORKSPACE}/github_action_scripts/python_setup.sh
                ${GITHUB_WORKSPACE}/github_action_scripts/python_checks.sh
